# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: rake
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  rake:
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15, windows-2022]
        ruby: [3.3]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Install libcurl on Windows
        if: matrix.os == 'windows-2022'
        run: |
          C:\msys64\usr\bin\pacman.exe -S --noconfirm mingw-w64-ucrt-x86_64-curl
          echo "Installed curl package, checking files:"
          dir C:\msys64\ucrt64\bin\*curl*
          echo "Creating libcurl.dll symlink if needed:"
          if exist "C:\msys64\ucrt64\bin\libcurl-4.dll" (
            if not exist "C:\msys64\ucrt64\bin\libcurl.dll" (
              mklink "C:\msys64\ucrt64\bin\libcurl.dll" "C:\msys64\ucrt64\bin\libcurl-4.dll"
            )
          )
          echo "Final check for libcurl files:"
          dir C:\msys64\ucrt64\bin\*curl*
        shell: cmd
      - name: Add MSYS2 to PATH on Windows
        if: matrix.os == 'windows-2022'
        run: echo "C:\msys64\ucrt64\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        shell: pwsh
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle config set --global path "$(pwd)/vendor/bundle"
      - run: bundle install --no-color
        run: bundle exec rake
